@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TRAJANUS";
  src: url("/public/fonts/Playfair\ Display.ttf") format("truetype"); /* ✅ En minúsculas */
  font-weight: normal;
  font-style: normal;
}
